<table>
    <tr>
        <td>Total</td>
        <td>{{total}}</td>
    </tr>
    <tr>
        <td>In-Flight</td>
        <td>{{inFlight}}</td>
    </tr>
    <tr>
        <td>Delivered</td>
        <td>{{delivered}}</td>
    </tr>
    <tr>
        <td>Average Time</td>
        <td>{{averageTime}}</td>
    </tr>
    {{!-- <tr>
        <td>Send Rate (per second)</td>
        <td>{{rate}}</td>
    </tr> --}}
</table>
{{!-- <table>
    <tr>
        <td>Total Paths</td>
        <td>{{pathCount}}</td>
    </tr>
    <tr>
        <td>Average Runs/Path</td>
        <td>{{averagePathCount}}</td>
    </tr>
    <tr>
        <td>Average Best</td>
        <td>{{averageBest}}</td>
    </tr>
    <tr>
        <td>Average Best/Actual Ratio</td>
        <td>1 : {{averageBestActualRatio}}</td>
    </tr>
</table> --}}

