<table>
    <tr>
        <td>Total</td>
        <td>{{total}}</td>
    </tr>
    <tr>
        <td>In-Flight</td>
        <td>{{inFlight}}</td>
    </tr>
    <tr>
        <td>Delivered</td>
        <td>{{delivered}}</td>
    </tr>
    <tr>
        <td>Average Time</td>
        <td>{{averageTime}}</td>
    </tr>
    {{!-- <tr>
        <td>Send Rate (per second)</td>
        <td>{{rate}}</td>
    </tr> --}}
</table>
